<link rel="stylesheet" href="{$yf_theme_path}public/css/bootstrap.css">
{include file="public:head_center" /}
<script src="{$yf_theme_path}public/js/bootstrap.js"></script>
<script src="{$yf_theme_path}public/js/laydate.js"></script>
<script src="__PUBLIC__/layer/layer_zh-cn.js"></script>
    <!--加载Css-->
    {switch name="lang"}
        {case value="zh-cn"}{load href="__PUBLIC__/shearphoto/css/ShearPhoto_f_zh-cn.css" /}{/case}
        {case value="en-us"}{load href="__PUBLIC__/shearphoto/css/ShearPhoto_f_en-us.css" /}{/case}
        {default /}{load href="__PUBLIC__/shearphoto/css/ShearPhoto_f_zh-cn.css" /}
    {/switch}
    <!-- 主体内容 S -->
    <div class="main w1000" style="background:#fff;">
        <!--startprint1-->
        <div class="personal_table">
                <table width="756px">
                    <tbody><tr style="height:30px;">
                        <td colspan="2">

                        </td>
                        <td colspan="1" style="text-align: right;">
                            <span style="font-size: 13px;color: grey;">广东农工商职业技术学院</span>
                        </td>
                    </tr>
                    <tr><td colspan="3" style="text-align: center;font-size: 25px;font-weight: bold;border-top:1px solid #000000;line-height:48px;">2017年自主招生报名表</td></tr>
                    <tr>
                        <td>报考序列号：{$num}</td>
                        <td width="300px">考生号：{$info.GexamineeNumber}</td>
                        <td>填表日期：

                                {$date}

                        </td>
                    </tr>
                </tbody></table>
                <br>
                <table width="756px" class="k-w-table line_table">
                    <tbody><tr class="line-table-height">
                        <td class="k-s-content low_width_1 title" style="text-align: center;">姓&nbsp;&nbsp;名</td>
                        <td class="k-s-content low_width_2 content"><input type="text" name="member_list_nickname" value="{$info.member_list_nickname}" /></td>
                        <td class="k-s-content low_width_3 title">性&nbsp;&nbsp;别</td>
                        <td class="k-s-content low_width_4 content">
                            <input type="text" name="sex" value="{$info.sex}" valType="n" leng="18" disabled/>
                        </td>
                        <td class="k-s-content low_width_5 title">出生年月</td>
                        <td class="k-s-content low_width_6 content"><input type="text"  class="noBlur" name="date" value="{$info.date}" id="birth" disabled/></td>
                        <td class="k-s-content low_width_7" rowspan="5" style="text-align: center;position:relative">


                                <img  style="width: 125px; height: 175px; display: inline;" src="{if $user.member_list_headpic}{$user.member_list_headpic|get_imgurl=1}{else}{$yf_theme_path}public/images/defaultGraph.jpg{/if} " height="175px" width="125px"  class="headicon" data-toggle="modal" data-target="#myModal"  title="建议使用ie9以上浏览器，360浏览器建议使用极速模式">


                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content low_width_1 title">民&nbsp;&nbsp;族</td>
                        <td class="k-s-content content"><input type="text" name="nation" value="{$info.nation}"/></td>
                        <td class="k-s-content low_width_3 title">籍&nbsp;&nbsp;贯</td>
                        <td class="k-s-content content"><input type="text" name="domicile" value="{$info.domicile}"/></td>
                        <td class="k-s-content title">政治面貌</td>
                        <td class="k-s-content content"><input type="text" name="politicalOutlook" value="{$info.politicalOutlook}"/></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content low_width_1 title">身份证号</td>
                        <td class="k-s-content content" colspan="3"><input type="text" name="cardId" value="{$info.member_list_username}" disabled/></td>
                        <td class="k-s-content low_width_1 title">健康状态</td>
                        <td class="k-s-content content" colspan="1">
                            <input type="text" name="health" value="{$info.health}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content low_width_1 title">外语语种</td>
                        <td class="k-s-content content" colspan="1"><input type="text" name="foreignLanguages" value="{$info.foreignLanguages}"/></td>
                        <td class="k-s-content low_width_1 title">考试类型</td>
                        <td class="k-s-content content" colspan="1">
                            <input type="text" name="testType" value="{$info.testType}"/>
                        </td>
                        <td class="k-s-content low_width_1 title">身高/体重</td>
                        <td class="k-s-content content" colspan="1">
                            <input type="text" name="figure" value="{$info.figure}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <!-- <td class="k-s-content title">生源地</td>
                       <td class="k-s-content content">
                           <input type="text" name="documentType" value="{$info.documentType}"/>
                       </td> -->
                        <td class="k-s-content  title">户口所在地</td>
                        <td class="k-s-content content" colspan="2"><input type="text" name="domicile" value="{$info.domicile}"/></td>
                        <td class="k-s-content  title" colspan="2">担任学生干部职位</td>
                        <td class="k-s-content content"><input type="text" name="leader" value="{$info.leader}"/></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content low_width_1 title">{$school_type_name}学校所在地</td>
                        <td class="k-s-content content" colspan="2">
                            <input type="text" name="school_place" value="{$info.school_place}"/>
                        </td>
                        <td class="k-s-content low_width_1 title">所在{$school_type_name}学校名称</td>
                        <td class="k-s-content content" colspan="3">
                            <input type="text" name="school_name" value="{$info.school_name}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content low_width_1 title"  colspan="2">联系人</td>
                        <td class="k-s-content content" colspan="2">
                            <input type="text" name="addressee" value="{$info.addressee}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">联系电话</td>
                        <td class="k-s-content content" colspan="2">
                            <input type="text" name="tell" value="{$info.tell}"/>
                        </td>
                    </tr>
                    <!-- 第6行 -->
                    <tr class="line-table-height">
                        <td class="k-s-content low_width_1 title " colspan="2">接收邮寄通知书地址</td>
                        <td class="k-s-content content" colspan="3">
                            <input type="text" name="address" value="{$info.address}"/>
                        </td>
                        <td class="k-s-content title">邮编</td>
                        <td class="k-s-content content" colspan="1">
                            <input type="text" name="zipCode" value="{$info.zipCode}"/>
                        </td>
                    </tr>

                    <tr class="line-table-height">
                        <td class="k-s-content title" style=""  rowspan="4">家庭成员</td>
                        <td class="k-s-content title" colspan="1">关系</td>
                        <td class="k-s-content title" colspan="1">姓名</td>
                        <td class="k-s-content title" colspan="3">工作单位</td>
                        <td class="k-s-content title" colspan="2">电话</td>
                    </tr>
                     <tr class="line-table-height">
                       <td class="k-s-content title" colspan="1">
                            <input type="text" name="familyPunishment_0" value="{$info.family.0.familyPunishment}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="familyName_0" value="{$info.family.0.familyName}"/>
                        </td>
                        <td class="k-s-content title" colspan="3">
                            <input type="text" name="familyWork_0" value="{$info.family.0.familyWork}"/>
                        </td>
                        <td class="k-s-content title" colspan="2">
                            <input type="text" name="familyTell_0" value="{$info.family.0.familyTell}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="familyPunishment_1" value="{$info.family.1.familyPunishment}" />
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="familyName_1" value="{$info.family.1.familyName}"/>
                        </td>
                        <td class="k-s-content title" colspan="3">
                            <input type="text" name="familyWork_1" value="{$info.family.1.familyWork}"/>
                        </td>
                        <td class="k-s-content title" colspan="2">
                            <input type="text" name="familyTell_1" value="{$info.family.1.familyTell}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="familyPunishment_2" value="{$info.family.2.familyPunishment}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="familyName_2" value="{$info.family.2.familyName}"/>
                        </td>
                        <td class="k-s-content title" colspan="3">
                            <input type="text" name="familyWork_2" value="{$info.family.2.familyWork}"/>
                        </td>
                        <td class="k-s-content title" colspan="2">
                            <input type="text" name="familyTell_2" value="{$info.family.2.familyTell}"/>
                        </td>
                    </tr>

                    <tr class="line-table-height">
                        <td class="k-s-content title" colspan="1">获奖情况</td>
                        <td class="k-s-content title" colspan="6">
                            <input type="text" name="awards" value="{$info.awards}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" colspan="1">特长生</td>
                        <td class="k-s-content title" colspan="6">
                            <input type="text" name="excellentStudent" value="{$info.excellentStudent}"/>
                        </td>
                    </tr>
                    {if $info.examinee_type_id == '4'}
                    <tr class="line-table-height">
                        <input type="hidden" name="recruit_major_id" value="{$info['recruit_major_id']}" />
                        <td class="k-s-content title" colspan="1">第一志愿</td>
                        <td class="k-s-content title" colspan="6">
                            <input type="text" name="recruit_major" value="{if $member_recruit_major[0]}{$member_recruit_major[0]['recruit_major_name']}{else}请选择{/if}" />
                            <select name="" class="recruitSelect recruitSelect1">
                                {foreach name="$recruit_majors" item="v"}
                                <option value="{$v.recruit_major_id}" {if isset($recruit_major_id_arr[0]) && $v.recruit_major_id == $recruit_major_id_arr[0]}selected{/if}>{$v.recruit_major_name}</option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>

                    <tr class="line-table-height">
                        <td class="k-s-content title low_width_1" style=""  rowspan="2">{$school_type_name}阶段获奖技能证书和奖项(改项目内容须学校学籍部门审核并盖章确认，涂改作废)</td>
                        <td class="k-s-content title" colspan="2">所学的专业</td>
                        <td class="k-s-content title" colspan="1"><input type="text" name="major" /></td>
                        <td class="k-s-content title" colspan="2">技能证书名称及等级</td>
                        <td class="k-s-content title" colspan="1"><input type="text" name="skillCertificate"  value="{$info.skillCertificate}"/></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" colspan="2">技能比赛名称及等级</td>
                        <td class="k-s-content title" colspan="3">
                            <input type="text" name="skill" value="{$info.skillCompetition}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            （学校学籍部门盖章）
                        </td>
                    </tr>
                    {else}
                    <tr class="line-table-height">
                        <input type="hidden" name="recruit_major_id" value="{$info['recruit_major_id']}" />
                        <td class="k-s-content title" colspan="1">第一志愿</td>
                        <td class="k-s-content title" colspan="3">
                            <input type="text" name="recruit_major" value="{if $member_recruit_major[0]}{$member_recruit_major[0]['recruit_major_name']}{else}请选择{/if}" />
                            <select name="" class="recruitSelect recruitSelect1">
                                <option value="">请选择</option>
                                {foreach name="$recruit_majors" item="v"}
                                <option value="{$v.recruit_major_id}" {if isset($recruit_major_id_arr[0]) && $v.recruit_major_id == $recruit_major_id_arr[0]}selected{/if}>{$v.recruit_major_name}</option>
                                {/foreach}
                            </select>
                        </td>
                        <td class="k-s-content title" colspan="1">第二志愿</td>
                        <td class="k-s-content title" colspan="2">
                            <input type="text" name="recruit_major" value="{if isset($member_recruit_major[1])}{$member_recruit_major[1]['recruit_major_name']}{else}请选择{/if}" />
                            <select name="" class="recruitSelect recruitSelect2">
                                <option value="">请选择</option>
                                {foreach name="$recruit_majors" item="v"}
                                <option value="{$v.recruit_major_id}" {if isset($recruit_major_id_arr[1]) && $v.recruit_major_id == $recruit_major_id_arr[1]}selected{/if}>{$v.recruit_major_name}</option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" style=""  rowspan="4">{$school_type_name}阶段学习成绩</td>
                        <td class="k-s-content title" colspan="1">文科类艺术类</td>
                        <td class="k-s-content title" colspan="1">学业水平测试成绩</td>
                        <td class="k-s-content title" colspan="1">理科类体育类</td>
                        <td class="k-s-content title" colspan="1">学业水平测试成绩</td>
                        <td class="k-s-content title" colspan="1">语数外</td>
                        <td class="k-s-content title" colspan="1">学业水平测试成绩</td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" colspan="1">
                            化学
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watChemistry" value="{$info['watGrade']['watChemistry']}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            政治
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watPolitics" value="{$info['watGrade']['watPolitics']}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            语文
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watChinese" value="{$info['watGrade']['watChinese']}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                       <td class="k-s-content title" colspan="1">
                            物理
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watPhysics" value="{$info['watGrade']['watPhysics']}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            历史
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watHistory" value="{$info['watGrade']['watHistory']}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            数学
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watMatch" value="{$info['watGrade']['watMatch']}"/>
                        </td>
                    </tr>
                    <tr class="line-table-height">
                       <td class="k-s-content title" colspan="1">
                            生物
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watBiology" value="{$info['watGrade']['watBiology']}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            地理
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watGeography" value="{$info['watGrade']['watGeography']}"/>
                        </td>
                        <td class="k-s-content title" colspan="1">
                            英语
                        </td>
                        <td class="k-s-content title" colspan="1">
                            <input type="text" name="watEnglish" value="{$info['watGrade']['watEnglish']}"/>
                        </td>
                    </tr>
                    {/if}
                    <tr class="line-table-height">
                        <td class="k-s-content title" colspan="1">个人承诺</td>
                        <td class="k-s-content title promise" colspan="6">
                            <p class="prp1">我已详细阅读了自主招生报考条件、报名须知及注意事项，符合报考条件。本人保证填报资料和寄送材料真实准确，如因个人填报信息失实或不符合报考条件而被取消录考资格的，由本人负责。</p>
                            <p class="prp2"><span class="">考生亲笔签名：</span><span>日期：</span></p>
                        </td>
                    </tr>

                    <tr class="line-table-height2">
                        <td class="k-s-content title">高校资格审查意见</td>
                        <td class="k-s-content content_area" colspan="3">
                           （盖章）
                        </td>
                        <td class="k-s-content title">考生所在学校意见</td>
                        <td class="k-s-content content_area" colspan="2">
                            （盖章）
                        </td>
                    </tr>
                </tbody></table>
        </div>
        <!--endtprint1-->

        {if condition="$user['user_status'] eq 1"}
        <button class="print printHide" onclick="preview(1)">打印</button>
        {else}
         <button class="unprint printHide" >请完善资料，审核通过后可打印</button>
        {/if}
    </div>

    <script  type="text/javascript" src="__PUBLIC__/shearphoto/js/ShearPhoto.js" ></script>
<script  type="text/javascript"  src="__PUBLIC__/shearphoto/js/alloyimage.js" ></script>
<script  type="text/javascript"  src="__PUBLIC__/shearphoto/js/handle_f.js" ></script>
<script type="text/javascript">
    var SHEAR = {
        PATH_RES: '__PUBLIC__',
        PATH_AVATAR: '__ROOT__/data/upload/avatar',
        URL:"{:url('home/Center/avatar')}",
    };
</script>

    <!-- 显示模态框（Modal） -->
        <div class="modal fade modal-avatar printHide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
            <div class="modal-dialog" style="width:60%;">
                <div class="modal-content"  style="min-width:620px;">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            选择头像
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                    <div id="shearphoto_loading">{:lang('program loading')}......</div>
                                    <div id="shearphoto_main">

                                        <div class="primary">
                                            <div id="main">
                                                <div class="point"></div>
                                                <div id="SelectBox">
                                                    <form    id="ShearPhotoForm" enctype="multipart/form-data" method="post"  target="POSTiframe">
                                                        <a href="javascript:;" id="selectImage"><input type="file"  name="UpFile" autocomplete="off"/></a>
                                                    </form>

                                                </div>
                                                <div id="relat">
                                                    <div id="black"></div>
                                                    <div id="movebox">
                                                        <div id="smallbox">
                                                            <img src="__PUBLIC__/shearphoto/images/default.gif" class="MoveImg"  style="max-width:300%"/>
                                                        </div>
                                                        <i id="borderTop"></i>
                                                        <i id="borderLeft"></i>
                                                        <i id="borderRight"></i>
                                                        <i id="borderBottom"></i>
                                                        <i id="BottomRight"></i>
                                                        <i id="TopRight"></i>
                                                        <i id="Bottomleft"></i>
                                                        <i id="Topleft"></i>
                                                        <i id="Topmiddle"></i>
                                                        <i id="leftmiddle"></i>
                                                        <i id="Rightmiddle"></i>
                                                        <i id="Bottommiddle"></i>
                                                    </div>
                                                    <img src="__PUBLIC__/shearphoto/images/default.gif" class="BigImg" />
                                                </div>
                                            </div>
                                            <div style="clear: both"></div>
                                            <div id="Shearbar">
                                                <a id="LeftRotate" href="javascript:;"><em></em>向左转</a>
                                                <em class="hint L"></em>
                                                <div class="ZoomDist" id="ZoomDist">
                                                    <div id="Zoomcentre"></div>
                                                    <div id="ZoomBar"></div>
                                                    <span class="progress"></span>
                                                </div>
                                                <em class="hint R"></em>
                                                <a id="RightRotate" href="javascript:;">向右转<em></em></a>
                                                <p class="Psava">
                                                    <a id="againIMG"  href="javascript:;">重新选择</a>
                                                    <a id="saveShear" href="javascript:;">保存</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div id="photoalbum">
                                        <i id="close"></i>
                                        <ul>
                                            <li><img src="__PUBLIC__/shearphoto/file/photo/1.jpg" serveUrl="file/photo/1.jpg" /></li>
                                            <li><img src="__PUBLIC__/shearphoto/file/photo/2.jpg" serveUrl="file/photo/2.jpg" /></li>
                                            <li><img src="__PUBLIC__/shearphoto/file/photo/3.jpg" serveUrl="file/photo/3.jpg" /></li>
                                            <li><img src="__PUBLIC__/shearphoto/file/photo/4.jpg" serveUrl="file/photo/4.jpg" /></li>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <!-- 主体内容 E -->
<script type="text/javascript">
laydate.skin('dahong')
laydate({
elem: '#birth',
format: 'YYYY年MM月', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'date','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#resumeBeforeDate_0',
format: 'YYYY年MM月', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'resumeBeforeDate_0','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#resumeBeforeDate_1',
format: 'YYYY年MM月', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'resumeBeforeDate_1','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#resumeBeforeDate_2',
format: 'YYYY年MM月', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'resumeBeforeDate_2','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#resumeAfterDate_0',
format: 'YYYY年MM月', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'resumeAfterDate_0','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#resumeAfterDate_1',
format: 'YYYY年MM月', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'resumeAfterDate_1','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#resumeAfterDate_2',
format: 'YYYY年MM月', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'resumeAfterDate_2','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#prizeDate_0',
format: 'YYYY年MM月DD日', // 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'prizeDate_0','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
laydate({
elem: '#prizeDate_1',
format: 'YYYY年MM月DD日',// 分隔符可以任意定义，该例子表示只显示年月
choose: function(datas){ //选择日期完毕的回调
    $.post("{:url('home/center/update_info')}",{'name':'prizeDate_1','value':datas},function(data){
        // if($("."+name).length>0){
        //     $("."+name).text(value);
        // }
        // console.log(data);
     });
}
});
</script>
{include file="public:footer" /}
