{include file="public:head_center" /}
    <!-- 主体内容 S -->
    <div class="main w1000" style="background:#fff;">

       <div class="myexam">
           <!--startprint1-->
           <table width="800" style="margin:0 auto;border-radio:5px;">
                <tr class="line-table-height" >
                   <td class="k-s-content"  width="40%" style="color:#333;font-size:16px;background:#971f21;color:#fff;line-height:35px">笔试考场</td>
                   <td class="k-s-content" >b102</td>
               </tr>
               <tr class="line-table-height">
                  <td class="k-s-content"  width="40%" style="color:#333;font-size:16px;background:#971f21;color:#fff;line-height:35px">面试考场</td>
                  <td class="k-s-content" >a102</td>
              </tr>
           </table>
           <!--endtprint1-->
       </div>

    </div>
{include  file="public:footer" /}
